@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lexend Deca', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', cursive;
}
